<label class="profile__img-box">
  {{{ inputUpload }}}
  <img src="{{#if img}}https://ya-praktikum.tech/api/v2/resources{{img}}{{else}}{{defImg}}{{/if}}" alt="{{ alt }}" alt="profile image">
</label>
