<li class="contact {{ activeClass }}">
  <div class="contact__img-box">
    <img class="contact__img" src="{{#if avatar}}https://ya-praktikum.tech/api/v2/resources{{avatar}}{{else}}{{defAvatar}}{{/if}}" alt="Contact Image">
    <div class="contact__img-name">{{ nameLetter }}</div>
  </div>
  <div class="contact__content">
    <div class="contact__content-header">
      <div class="contact__name">{{ title }}</div>
      <div class="contact__time">{{ time }}</div>
      {{{ totalMass }}}
    </div>
    <div class="contact__message">{{ message }}</div>
  </div>
</li>
