<section class="profile">
  {{{ comeBack }}}
  <form class="profile__info">
    <h2 class="profile__name">Сменить пароль</h2>
    <div class="mt-50">
      {{{ oldPass }}}
    </div>
    {{{ labelPass }}}
    {{{ labelPassRep }}}
    <div class="profile__btns mt-20">
      {{{ button }}}
    </div>
  </form>
</section>
