<section class="auth">
  <form class="auth__form">
    <h1 class="auth__title title">Регистрация</h1>
    <div class="mt-30">{{{ labelName }}}</div>
    <div class="mt-30">{{{ labelSecondName }}}</div>
    <div class="mt-30">{{{ labelEmail }}}</div>
    <div class="mt-30">{{{ labelTel }}}</div>
    <div class="mt-30">{{{ labelLogin }}}</div>
    <div class="mt-30">{{{ labelPass }}}</div>
    <div class="mt-30">{{{ labelPassRep }}}</div>
    <div class="auth__btns mt-50">
      {{{ button }}}
      <div class="mt-20">{{{ navLink }}}</div>
    </div>
  </form>
</section>
