<section class="profile">
  {{{ comeBack }}}
  <div class="profile__info">
    {{{ avatar }}}
    <h1 class="profile__name">{{title}}</h1>
    <ul class="profile__list">
      {{#each info}}
        {{{this}}}
      {{/each}}
    </ul>
    <div class="profile__btns mt-50">
      <div class="profile__btn-item">
        {{{ editProfile }}}
      </div>
      <div class="profile__btn-item">
        {{{ EditPassword }}}
      </div>
      <div class="profile__btn-item">
        {{{ logout }}}
      </div>
    </div>
  </div>
</section>
