<section class="auth">
  <form class="auth__form">
    <h1 class="auth__title title">{{title}}</h1>
    <div class="mt-30">
      {{{ labelLogin }}}
    </div>
    <div class="mt-30">
      {{{ labelPassword }}}
    </div>
    <div class="auth__btns mt-50">
      {{{ button }}}
      <div class="mt-20">{{{ navLink }}}</div>
    </div>
  </form>
</section>
