<section class="profile">
  {{{ comeBack }}}
  <form class="profile__info">
    {{{ avatar }}}
    <h2 class="profile__name">{{ title }}</h2>
    <div class="mt-50">
    {{#each labels}}
        {{{this}}}
    {{/each}}
    </div>
    <div>{{{ chatName }}}</div>
    <div class="profile__btns mt-20">
      {{{ button }}}
    </div>
  </form>
</section>
