<div class="auth__input-box">
  <div class="input">
    {{{ input }}}
    <label class="input__label" for={{ id }}>{{ label }}</label>
    {{{ eyePass }}}
  </div>
  <p class="error hidden">{{ error }}</p>
</div>
