<div class="{{className}}">
  <p class="{{className}}__text">{{text}}</p>
  <div class="{{className}}__time">
    {{{ status }}}
    <div class="{{className}}__time-text">{{time}}</div>
  </div>
</div>
